<section class="hero" id="inicio">
  <div class="hero-texto">
    <h1 class="titulo">¡EL <span class="amarillo">SABOR</span> QUE ENAMORA!</h1>
    <h2 class="subtitulo">PERFECTAS PARA COMPARTIR</h2>
    <p class="descripcion">
      Empanadas fritas crujientes por fuera, jugosas por dentro
      y jugos naturales que te llenan de Sabor.
    </p>
    <div class="botones">
      <a href="#empanadas" class="btn btn-rojo">🛵 PEDIR AHORA</a>
      <a href="#empanadas" class="btn btn-borde">VER MENÚ</a>
    </div>
  </div>
  <div class="hero-imagen">
    <img src="img/hero.png" alt="Empanadas fritas Sabrositas" />
  </div>
</section>